{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-use-before-define": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/label-has-associated-control": [2, {
      "labelComponents": ["CustomInputLabel"],
      "labelAttributes": ["label"],
      "controlComponents": ["CustomInput"],
      "depth": 3
    }],
    "react/no-did-mount-set-state": 0,
    "import/prefer-default-export": 0
  }
}
